{{#partial "content"}}

    <div class="card" >
        <div class="card-body">
            <div class="success">
                <h3>Animal successfully added!</h3>
                <h5><a href="/animals" class="btn btn-dark">View animals</a></h5>
            </div>
        </div>
    </div>



{{/partial}}

{{> layout.hbs}}