{{#partial "content"}}

<div class="container home">
    <div class=" intro">
        <h1 class ="tracker">Wildlife Tracker</h1>
        <h5 style="text-align:center;">This site will help user record animals sighted and give more details about the sighted animal which will include age, health and location where the animal has been sighted.  </h5>
        <h5 style="text-align:center;">Get started</h5>
        <br>
        <div class="wrapper">
            <p><a href="/animals/new" class="btn btn-dark">Add animals</a> &nbsp;&nbsp;&nbsp;<a href="/sightings/new" class="btn btn-dark">Add sightings</a></p>
        </div>




    </div>
</div>

{{/partial}}
{{>layout.hbs}}