{{#partial "content"}}

<div class="container">
    <div class=" intro">
        <h1>AN app that allows you to add animals</h1>
        <p>Conserving the environment</p>

    </div>
</div>

{{/partial}}
{{>layout.hbs}}